{% load staticfiles %}


<link href="{% static 'assets/css/client/css-loader.css' %}" rel="stylesheet" type="text/css">


<!-- Global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />


<link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/extras/animate.min.css' %}" rel="stylesheet" type="text/css">

<link href="{% static 'assets/css/sticky.css' %}" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->

<link href="{% static 'assets/css/client/as_per_need.css' %}" rel="stylesheet" type="text/css">

<link href="{% static 'assets/css/client/dashboard.css' %}" rel="stylesheet" type="text/css">

<link href="{% static 'assets/css/icons/icomoon/new-styles.css' %}" rel="stylesheet" type="text/css">
