 {% load staticfiles %}

 <!-- Main sidebar -->
 <div class="sidebar sidebar-main sidebar-default sidebar-fixed">
   <div class="sidebar-content">

     <!-- Main navigation -->
    <div class="sidebar-category sidebar-category-visible">
        <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">

                <!-- Main -->
                <li>
                    <a href="/client/dashboard/">
                        <span>Dashboard</span>
                    </a>
                </li>

                <li id="campaign">
                    <a>
                        <span>Campaign</span>
                    </a>
                    <ul>
                        <li id="campaign-create">
                            <a href="/client/create-campaign/">Create Campaign</a>
                        </li>
                        <li>
                            <a href="/client/vendor-list/">
                                <span>Vendor List</span>
                            </a>
                        </li>
                        <li id="manage-campaign">
                            <a href="/client/manage-campaign/">Manage Campaign</a>
                        </li>
                        <li>
                            <a href="/client/client-activity/">
                                <span>Activity</span>
                            </a>
                        </li>
                        <li>
                            <a href="/client/vendor-comparison/">
                                <span>Vendor Comparison</span>
                            </a>
                        </li>

                    </ul>

                </li>
                <li>
                    <a href="/client/leads/">
                        <span>Leads</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Statistics</span>
                    </a>
                    <ul>
                        <li>
                            <a href="/client/campaign-reports/">Campaign Reports</a>
                        </li>
                        <li>
                            <a href="">Lead Reports</a>
                        </li>
                        <li>
                            <a href="/client/schedule-reports/">
                                <span>Schedule Reports</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>Vendor Reports</span>
                            </a>
                        </li>

                    </ul>

                </li>
                <li>
                    <a href="/client/account/">
                        <span>Account</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Support</span>
                    </a>
                    <ul>
                        <li>
                            <a href="/client/raise-ticket/">Raise a Ticket</a>
                        </li>
                        <li>
                            <a href="/client/contact-us/">
                                <span>Contact Us</span>
                            </a>
                        </li>
                        <li>
                            <a href="/client/faq/">FAQ</a>
                        </li>
                        <li>
                            <a href="/client/terms/">
                                <span>T&C</span>
                            </a>
                        </li>

                    </ul>

                </li>

                <!-- /page kits -->
            </ul>
        </div>
    </div>
    <!-- /main navigation -->
   </div>
 </div>
 <!-- /main sidebar -->
