{% extends "common/base.html" %}

{% load static %}

{% load cuatom_filters %}

{% load widget_tweaks %}

{% block title %} Create Campaign {% endblock %}

<!--
    page code must be start in block content
    inside block content
-->
{% block content %}

<!-- Main content -->
<div class="content-wrapper">

  <!-- Content area -->
  <div class="content">
  
    <!-- hidden values used globally -->
    <!-- cmaign id -->
    <input type="hidden" id="id_campaign" value="{{ campaign.id }}" />
    <input type="hidden" id="url_add_selected_component" value="{% url 'save_selected_components' %}" />    

    <input type="hidden" id="url_remove_selected_component" value="{% url 'remove_selected_component' %}" />
    <input type="hidden" id="link_save_text_mapping" value="/client/save_alternative_text"/>

    <form method="post" id="form_save_campaign_data" class="hidden">
        {% csrf_token %}
        <input type="hidden" name="campaign" id="id_camapaign" value="{{ campaign.id }}" />
        <div class="new_fields_holder">
            <!-- append new fields at save time and remove after ajax call end-->
        </div>
    </form>

    <div class="row">
        <div id="kaban">
            <div id="scroller">
                <div id="boards">
                    <!-- drag area-->
                    <div class="pull-right  col-md-4 col-sm-12">
                    <div class="panel panel-height panel-flat">
                        <!-- <div class="panel-heading text-center">
                            <hp class="panel-title">Drag Specs from here</p>
                        </div> -->
                        <div class="panel-body">
                           <div>
                            <!--  boards -->
                            <div class="board" id="board2">
                                <header>Drag Specs from here</header>
                                <div class="cards" id="board-drag">
                                    {% for component in component_list %}
                                    {% if component.id|to_int not in selected_component_ids and component.is_default|to_int == 0 %}
                                    <div class="card" data-component-id="{{ component.id }}" data-invoke-div="{{ component.invoke_div }}"
                                    data-position="{{ component.position }}">
                                        <span class="component_label">{{ component.label }}</span>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <!--  /boards -->
                            </div>

                        </div>
                    </div>
                    </div>
                    <!-- /drag area-->

                    <!-- <div class="loader loader-default is-active"></div> -->

                    <!-- drop area-->
                    <div class="panel panel-height panel-flat col-md-8 col-sm-12">
                        <!--
                        <div class="panel-heading text-center">
                            <p class="panel-title">Selected Specs</p>
                        </div>
                        -->
                        <div class="panel-body">
                            
                            <!--  boards -->
                            <div class="board" id="board3">
                                <header>Selected Specs</header>
                                <div class="cards p-15" id="board-drop">
                                    <!-- show default -->
                                    {% for component in component_list %}
                                    {% if component.is_default|to_int == 1 %}
                                    <div class="card" data-component-id="{{ component.id }}" data-invoke-div="{{ component.invoke_div }}"
                                    data-position="{{ component.position }}">
                                        <span class="component_label">{{ component.label }}</span>
                                    </div>
                                    {% endif %}
                                    {% endfor %}

                                    
                                    {% for selected_component in selected_component_list%}
                                    <div class="card" 
                                        data-invoke-div="{{ selected_component.component.invoke_div }}"
                                        data-component-id="{{ selected_component.component.id }}"
                                        data-position="{{ selected_component.component.position }}">
                                        <span class="component_label">{{ selected_component.component.label }}</span>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!--  /boards -->

                        </div>

                        <div class="panel-body">
                            <a href="{% url 'change_campaign_status' campaign.id %}">
                                <button type="button" class="btn btn-primary">
                                    <i class="icon-cog3 position-left"></i> Submit
                                </button>
                            </a>
                        </div>
                    </div>
                    <!-- /drop area-->

                </div>
            </div>
        </div>
        
        <!-- store component data inside holder -->
        <div id="component-data-holder" class="hidden">

            <!-- product category-->
            <div id="product_category" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head"><span>Select Product Categories</span>
                    <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="pointer chk_bx_select_all" />Select All
                                </label>
                                <label class="pointer pull-right">
                                    <input class="pointer chkbx_use_as_txt" data-parent="beefup__body" type='checkbox' />Use As Text
                                </label>
                            </div>
                        </div>
                        <div class="form-group checkbox_container">
                            {% with field_name='campaign_category' default_checked_value=specification.campaign_category|split %}
                            <input type="hidden" class="save_data" name="campaign_category" id="id_campaign_category" value="{{ default_checked_value }}" /> 
                            <input type="hidden" class="url_holder_save_data" value="{% url 'save_specifications' %}" />
                            {% for name in campaign_category %} 
                            {% if name != "---------" %}
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox"
                                                   name="{{ field_name }}[]" 
                                                   data-txt="{{ name }}" 
                                                   value="{{ name }}" {% if name|lower in default_checked_value|lower %} checked {% endif %}> 
                                                   {{ name }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <input type='text' class="form-control-inline {% if not name|ifinlist:useAsTxtMapping %}hidden{% endif %} pull-right txtbx_use_as_txt" 
                                           value='{{ name|alter_txt:useAsTxtMapping }}'>
                                </div>
                            </div>
                            {% endif %} 
                            {% endfor %} 
                            {% endwith %} 
                        </div>
                    </div>
                </article>
            </div>
            <!-- /product category-->

            <!-- target quantity -->
            <div id="target_quantity" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head"><span>Select Target Quantity</span>
                        <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="form-group checkbox_container">
                            <input class="form-control save_data" name="campaign_quantity" id="id_campaign_quantity" type="number" value="{{ specification.campaign_quantity }}">
                            <input type="hidden" class="url_holder_save_data" value="{% url 'save_specifications' %}" /> 
                            
                        </div>
                    </div>
                </article>
            </div>
            <!-- /target quantity -->

            <!-- select pacing -->
            <div id="pacing" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                    <span>Select Pacing</span>
                    <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="pointer chk_bx_select_all" />Select All
                                </label>
                                <label class="pointer pull-right">
                                    <input class="pointer chkbx_use_as_txt" data-parent="beefup__body" type='checkbox' />Use As Text
                                </label>
                            </div>
                        </div>
                        <div class="form-group checkbox_container">
                        {% with field_name='campaign_pacing' default_checked_value=specification.campaign_pacing %}
                                <input type="hidden" class="save_data" name="campaign_pacing" id="id_campaign_pacing" value="{{ default_checked_value }}" />
                                <input type="hidden" class="url_holder_save_data" value="{% url 'save_specifications' %}" />
                                {% for name in campaign_pacing %}
                                {% if name != "---------" %}
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" name="{{ field_name }}[]" data-txt="{{ name }}"  value="{{ name }}"
                                        {% if name|lower in default_checked_value|lower %} checked {% endif %}>
                                        {{name}}
                                    </label>
                                    <!-- set data-txt attribute inside above lable to get original text in jquery -->
                                    <input type='text' class="form-control-inline {% if not name|ifinlist:useAsTxtMapping %}hidden{% endif %} pull-right txtbx_use_as_txt"
                                    value='{{ name|alter_txt:useAsTxtMapping }}'>
                                </div>
                                {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </article>
            </div>
            <!-- /select pacing -->

            <!-- select touchbase meeting -->
            <div id="touch_base_meeting" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                    <span>Select Touchbase Meeting</span>
                    <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="pointer chk_bx_select_all" />Select All
                                </label>
                                <label class="pointer pull-right">
                                    <input class="pointer chkbx_use_as_txt" data-parent="beefup__body" type='checkbox' />Use As Text
                                </label>
                            </div>
                        </div>

                        <div class="form-group checkbox_container">
                            {% with field_name='touchbase_meeting' default_checked_value=specification.touchbase_meeting %}
                            <input type="hidden" class="save_data" name="touchbase_meeting" id="id_touchbase_meeting" value="{{ default_checked_value}}" />
                            <input type="hidden" class="url_holder_save_data" value="{% url 'save_specifications' %}" />
                            {% for name in days %}
                                {% if name != "---------" %}
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" name="{{ field_name }}[]" data-txt="{{ name }}" value="{{ name }}"
                                        {% if name|lower in default_checked_value|lower %} checked {% endif %}>
                                        {{name}}
                                    </label>
                                    <!-- set data-txt attribute inside above lable to get original text in jquery -->
                                    <input type='text' class="form-control-inline {% if not name|ifinlist:useAsTxtMapping %}hidden{% endif %} pull-right txtbx_use_as_txt"
                                    value='{{ name|alter_txt:useAsTxtMapping }}'>
                                </div>
                                {% endif %} 
                            {% endfor %} 
                            {% endwith %}
                        </div>
                    </div>
                </article>
            </div>
            <!-- /select touchbase meeting -->

            <!-- account based marketing -->
            <div id="account_based_marketing" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                    <span>Account Based Marketing</span>
                    <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <!-- <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="pointer chk_bx_select_all" />Select All
                                </label>
                                <label class="pointer pull-right">
                                    <input class="pointer chkbx_use_as_txt" data-parent="beefup__body" type='checkbox' />Use As Text
                                </label>
                            </div>
                        </div> -->
                        <div class="form-group checkbox_container">
                            <p>Note: The target account list must contain 5x the number of leads you want to generate. By uploading a target account list, you will not be able to select a company size or industry filter.
                            </p>
                            <label>Upload Your ABM List:</label>
                            <label class="radio-inline">
                                <input type="checkbox" id="radio_abm_yes" name="radio-abm-list"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="checkbox" id="radio_abm_no" name="radio-abm-list">No
                            </label>
                            <!-- <div>
                                <div>
                                    <label>
                                        Upload Company List: 
                                    </label>
                                    <input type="file" name="account_based_company_list_file" id="button_abm_company_list_upload" class="form-control">
                                </div>
                                <div>
                                    <label>
                                        Upload Contact List: 
                                    </label>
                                    <input type="file" name="account_based_contact_list_file" id="button_abm_contact_list_upload" class="form-control">
                                </div>
                            </div> -->
                        </div>
                    </div>
                </article>
            </div>
            <!-- /account based marketing -->
            
            <!-- account supression -->
            <div id="account_supression" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                    <span>Account Supression</span>
                    <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="form-group checkbox_container">
                            <p>Note: The account suppression list may contain a maximum of 100 companies.
                            </p>
                            <label>Upload Your Account Suppression List:
                            </label>
                            <label class="radio-inline">
                                <input type="checkbox" id="radio_acc_suppression_yes" name="radio-supression_list"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="checkbox" id="radio_acc_suppression_no" name="radio-supression_list"> No
                            </label>
                            <!-- <div>
                                <div>
                                    <label>
                                        Upload Company List: 
                                    </label>
                                        <input type="file" name="account_suppression_company_list_file" id="button_acc_supression_company_list" class="form-control">
                                </div>
                                <div>
                                    <label>
                                        Upload Contact List: 
                                    </label>
                                        <input type="file" name="account_suppression_contact_list_file" id="button_acc_supression_contact_list" class="form-control">
                                </div>
                            </div> -->
                        </div>
                    </div>
                </article>
            </div>
            <!-- /account supression -->

            <!-- select industry type -->
            <div id="industry_type" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                        <span>Select Industry</span>
                    </h6>
                    <div class="beefup__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="styled pointer chk_bx_select_all" />
                                    <span>Select All</span>
                                </label>
                                <label class="pointer pull-right">
                                    <input class="styled pointer chkbx_use_as_txt" data-parent="beefup__body" type='checkbox' />Use As Text
                                </label>
                            </div>
                        </div>

                        <div class="form-group checkbox_container">
                            {% with field_name='industry_type' default_checked_value=mapping.industry_type %}
                                <input type="hidden" class="save_data" name="{{ field_name }}" id="id_{{field_name}}" value="{{ default_checked_value}}" />
                                <input type="hidden" class="url_holder_save_data" value="{% url 'save_mapping' %}" />
                                <table class="table table-hover">
                                    <tbody>
                                    {% for name in industry_types %}
                                    {% if name != "---------" %}
                                    <tr>
                                        <td>
                                            <div class="radio ml-10" data-txt="{{ name }}">
                                                <input id="{{ name }}" name="{{ field_name }}[]"  
                                                        data-txt="{{ name }}" 
                                                        value="{{ name }}" 
                                                        type="checkbox" {% if name|lower in default_checked_value|lower %} checked {% endif %} />
                                                <label for="{{ name }}" class="lbl">{{ name }}</label>
                                            </div>
                                        </td>
                                        <td>
                                            <!-- set data-txt attribute inside above lable to get original text in jquery -->
                                            <input type='text' class="form-control-inline {% if not name|ifinlist:useAsTxtMapping %}hidden{% endif %} pull-right txtbx_use_as_txt"
                                            value='{{ name|alter_txt:useAsTxtMapping }}'>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                
                            {% endwith %}
                        </div>
                    </div>
                </article>
            </div>
            <!-- /select industry type -->

            <!-- Textbox job title -->
            <div id="job_title" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                        <span>Enter Your Job Title</span>
                        <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="form-group checkbox_container">
                            <input type="hidden" class="url_holder_save_data" value="{% url 'save_specifications' %}" /> 
                            <textarea name="job_title" id="id_job_title" rows="2" cols="20" class="form-control" >{{ mapping.job_title|stringformat:"i"|default_if_none:'' }}</textarea>
                        </div>
                        <p>Note: Enter Your Job Titles (Ex: HR, Developer, Testing, etc)</p>
                    </div>
                </article>
            </div>
            <!-- /Textbox  job title -->

            <!-- Job Level -->
            <div id="job_level" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                        <span>Select Job Level</span>
                        <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="pointer chk_bx_select_all" />Select All
                                </label>
                                <label class="pointer pull-right">
                                    <input class="pointer chkbx_use_as_txt" data-parent="beefup__body" type='checkbox' />Use As Text
                                </label>
                            </div>
                        </div>

                        <div class="form-group checkbox_container">
                            
                            {% with field_name='job_level' default_checked_value=mapping.job_level %}
                            <input type="hidden" class="save_data" name="{{field_name}}" id="id_{{field_name}}" value="{{ default_checked_value}}" />
                            <input type="hidden" class="url_holder_save_data" value="{% url 'save_mapping' %}" /> 
                            {% for name in job_levels %}
                            {% if name != "---------" %}
                            <div class="radio">
                                <label>
                                <input class="check1" name="{{ field_name }}[]" value="{{ name }}"  data-txt="{{ name }}"  type="checkbox" {% if name|lower in default_checked_value|lower %} checked {% endif %}/> {{name}}
                                </label>
                                <!-- set data-txt attribute inside above lable to get original text in jquery -->
                                <input type='text' class="form-control-inline {% if not name|ifinlist:useAsTxtMapping %}hidden{% endif %} pull-right txtbx_use_as_txt"
                                value='{{ name|alter_txt:useAsTxtMapping }}'>
                            </div>
                            {% endif %}
                            {% endfor %}
                        {% endwith %}
                        </div>
                    </div>
                </article>
            </div>
            <!-- /Job Level -->

            <!-- country -->
            <div id="country" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                         <span>Select Country</span>
                        <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="pointer chk_bx_select_all" />Select All
                                </label>
                                <label class="pointer pull-right">
                                    <input class="pointer chkbx_use_as_txt" data-parent="beefup__body" type='checkbox' />Use As Text
                                </label>
                            </div>
                        </div>

                        <div class="form-group checkbox_container">
                            {% with field_name='country' default_checked_value=mapping.country %}
                                <input type="hidden" class="save_data" name="{{field_name}}" id="id_{{field_name}}" value="{{ default_checked_value}}" />
                                <input type="hidden" class="url_holder_save_data" value="{% url 'save_mapping' %}" /> 
                                {% for country in countries %}
                                {% if country != "---------" %}
                                <div class="radio">
                                    <label>
                                    <input class="check1" name="{{ field_name }}[]" value="{{ country.name }}" data-txt="{{ name }}" type="checkbox" {% if country.name|lower in default_checked_value|lower %} checked {% endif %}/> {{country.name}}
                                    </label>
                                    <!-- set data-txt attribute inside above lable to get original text in jquery -->
                                    <input type='text' class="form-control-inline {% if not name|ifinlist:useAsTxtMapping %}hidden{% endif %} pull-right txtbx_use_as_txt"
                                    value='{{ name|alter_txt:useAsTxtMapping }}'>
                                </div>
                                {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </article>
            </div>
            <!-- /country -->

            <!-- company size -->
            <div id="company_size" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                        <span>Select Company Size</span>
                        <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="pointer chk_bx_select_all" />Select All
                                </label>
                                <label class="pointer pull-right">
                                    <input class="pointer chkbx_use_as_txt" data-parent="beefup__body" type='checkbox' />Use As Text
                                </label>
                            </div>
                        </div>

                        <div class="form-group checkbox_container">
                        {% with field_name='company_size' default_checked_value=mapping.company_size %}
                            <input type="hidden" class="save_data"name="{{field_name}}" id="id_{{field_name}}"  value="{{ default_checked_value}}" />
                            <input type="hidden" class="url_holder_save_data" value="{% url 'save_mapping' %}" /> 
                            {% for name in company_sizes %}
                            {% if name != "---------" %}
                            <div class="radio">
                                <label>
                                 <input class="check1" name="{{ field_name }}[]" data-txt="{{ name }}" value="{{ name }}" type="checkbox" {% if name|lower in default_checked_value|lower %} checked {% endif %}/> {{name}}
                                </label>
                                <!-- set data-txt attribute inside above lable to get original text in jquery -->
                                <input type='text' class="form-control-inline {% if not name|ifinlist:useAsTxtMapping %}hidden{% endif %} pull-right txtbx_use_as_txt"
                                value='{{ name|alter_txt:useAsTxtMapping }}'>
                            </div>
                            {% endif %}
                            {% endfor %}
                        {% endwith %}
                        </div>
                    </div>
                </article>
            </div>
            <!-- /company size -->

            <!-- job Function -->
            <div id="job_function" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                        <span>Select Department</span>
                        <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="pointer chk_bx_select_all" />Select All
                                </label>
                                <label class="pointer pull-right">
                                    <input class="pointer chkbx_use_as_txt" data-parent="beefup__body" type='checkbox' />Use As Text
                                </label>
                            </div>
                        </div>

                        <div class="form-group checkbox_container">
                            {% with field_name='job_function' default_checked_value=mapping.job_function %}
                                <input type="hidden" class="save_data" name="{{field_name}}" id="id_{{field_name}}" value="{{ default_checked_value}}" />
                                <input type="hidden" class="url_holder_save_data" value="{% url 'save_mapping' %}" /> 
                                {% for name in job_functions %}
                                {% if name != "---------" %}
                                <div class="radio col-md-12">
                                    <div class='col-md-4'>
                                    <label>
                                    <input class="check1" name="{{ field_name }}[]"  
                                           data-txt="{{ name }}" 
                                           value="{{ name }}" 
                                           type="checkbox" {% if name|lower in default_checked_value|lower %} checked {% endif %}/> 
                                           {{name}}
                                    </label>
                                    </div>
                                    <!-- set data-txt attribute inside above lable to get original text in jquery -->
                                    <div class='col-md-4'>
                                    <input type='text' 
                                    class="form-control-inline {% if not name|ifinlist:useAsTxtMapping %}hidden{% endif %}  txtbx_use_as_txt"
                                    value='{{ name|alter_txt:useAsTxtMapping }}'>
                                    </div>
                                    <!-- <div class="col-md-4"></div> -->
                                </div>
                                {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </article>
            </div>
            <!-- /job Function -->

            <!--======================= Terms table data ==============================-->
            <!-- source in touches -->
            <div id="source_in_touches" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                        <span>Select Outreach Method</span>
                        <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="pointer chk_bx_select_all" />Select All
                                </label>
                                <!-- <label class="pointer pull-right">
                                    <input class="pointer chkbx_use_as_txt" data-parent="beefup__body" type='checkbox' />Use As Text
                                </label> -->
                            </div>
                        </div>

                        <div class="form-group checkbox_container">
                            {% with field_name='source_touches' default_checked_value=terms.source_touches %}
                            <input type="hidden" class="save_data"  name="{{ field_name }}" id="id_{{field_name}}" value="{{ default_checked_value}}" />
                            <input type="hidden" class="url_holder_save_data" value="{% url 'save_terms' %}" /> 
                            {% for name in source_touches %} {% if name != "---------" %}
                            <div class="radio">
                                <label>
                                    <input class="check1" name="{{ field_name }}[]"  data-txt="{{ name }}" value="{{ name }}" type="checkbox" {% if name|lower in default_checked_value|lower %} checked {% endif %}/> {{name}}
                                </label>
                                <!-- set data-txt attribute inside above lable to get original text in jquery -->
                                <input type='text' class="form-control-inline {% if not name|ifinlist:useAsTxtMapping %}hidden{% endif %} pull-right txtbx_use_as_txt"
                                value='{{ name|alter_txt:useAsTxtMapping }}'>
                            </div>
                            {% endif %} {% endfor %} {% endwith %}
                        </div>
                    </div>
                </article>
            </div>
            <!-- /source in touches -->

            <!-- level of Intent -->
            <div id="level_of_intent" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                        <span>Select Level of Intent</span>
                        <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="form-group checkbox_container">
                            <input type="hidden" class="url_holder_save_data" value="{% url 'save_terms' %}" />
                             <label>
                                  <input class="ml-20" type="checkbox" /> Select All
                                </label>
                              <table class="table table-striped">
                                  <thead>
                                      <tr>
                                          <th>Level</th>
                                          <th>Volume</th>
                                          <th>CPL</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% with field_name='level_intent' default_checked_value=terms.level_intent|split %}
                                    <input type="hidden" name="level_intent" id="id_level_intent" value="{{default_checked_value}}" />
                                    {% for name in level_intent %}
                                    {% if name != "---------" %}
                                    <tr>
                                        <td>
                                        <label>
                                            <input type="checkbox" class="chkbx_level_of_intent" name="{{ field_name }}[]" data-txt="{{ name }}" value="{{ name }}" {% if name|lower in default_checked_value|lower %} checked {% endif %}> {{ name }}
                                        </label>
                                        </td>
                                        <td>
                                          <input type='number' name="txtbx_volume" min="0" class="form-control-inline txtbx_volume" value="{{ name|get_volume:volume_and_cpls }}">
                                        </td>
                                        <td>
                                          <input type='number' name="txtbx_cpl" min="0" class="form-control-inline txtbx_cpl" value="{{ name|get_cpl:volume_and_cpls }}">
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endwith %}

                                  </tbody>
                              </table> 
                        </div>
                    </div>
                </article>
            </div>
            <!-- /level of Intent -->

            <!-- Assets -->
            <div id="assets" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                        <span>Select Assets</span>
                        <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="pointer chk_bx_select_all" />Select All
                                </label>
                                <!-- <label class="pointer pull-right">
                                    <input class="pointer chkbx_use_as_txt" data-parent="beefup__body" type='checkbox' />Use As Text
                                </label> -->
                            </div>
                        </div>

                        <div class="form-group checkbox_container">
                            {% with field_name='assets' default_checked_value=terms.assets %}
                            <input type="hidden" class="save_data"  name="{{field_name}}" id="id_{{field_name}}" value="{{ default_checked_value}}" />
                            <input type="hidden" class="url_holder_save_data" value="{% url 'save_terms' %}" /> 
                            {% for name in assets %}
                            {% if name != "---------" %}
                            <div class="radio">
                            <label>
                                <input class="check1" name="{{ field_name }}[]" value="{{ name }}" type="checkbox"
                                {% if name|cut:" "|lower in default_checked_value|cut:" "|lower %} checked {% endif %}/>
                                {{name}}
                            </label>
                            <input type='text' value='{{name}}' class='form-control-inline hidden pull-right comments tb10'>
                            </div>
                            {% endif %} {% endfor %} {% endwith %}
                        </div>
                    </div>
                </article>
            </div>
            <!-- /Assets -->
            <!--======================= Terms table data ==============================-->

            <!-- ====================== Campaign Delivery =============================-->
            <!-- Data Fields -->
            <div id="data_fields" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                        <span>Select Data Fields</span>
                        <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="pointer chk_bx_select_all" />Select All
                                </label>
                                <label class="pointer pull-right">
                                    <input class="pointer chkbx_use_as_txt" data-parent="beefup__body" type='checkbox' />Use As Text
                                </label>
                            </div>
                        </div>

                        <div class="form-group checkbox_container">
                            <!-- Data Headers are renamed as Data Field -->
                            {% with field_name='data_header' default_checked_value=delivery.data_header|split %}
                            <input type="hidden" class="save_data"  name="{{field_name}}" id="id_{{field_name}}" value="{{ default_checked_value}}" />
                            <input type="hidden" class="url_holder_save_data" value="{% url 'save_delivery' %}" /> 
                            {% for name in data_headers %}
                            {% if name != "---------" %}
                            <div class="radio">
                                <label>
                                <input type="checkbox" name="{{ field_name }}[]" value="{{ name }}"
                                        {% if name|lower in default_checked_value|lower %} checked {% endif %}>
                                {{ name }}
                                </label>
                                <input type='text' class='tb3 form-control-inline hidden pull-right txtbx_use_as_txt tb10'>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </article>
            </div>
            <!-- /Data Fields -->

            <!-- Custom Field -->
            <div id="custom_field" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                        <span>Select Custom Fields</span>
                        <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="pointer chk_bx_select_all" />Select All
                                </label>
                                <label class="pointer pull-right">
                                    <input class="pointer chkbx_use_as_txt" data-parent="beefup__body" type='checkbox' />Use As Text
                                </label>
                            </div>
                        </div>

                        <div class="form-group checkbox_container">
                            <input type="hidden" class="url_holder_save_data" value="{% url 'save_delivery' %}" /> 
                            <div class="col-lg-12">
                                <textarea id="dropdiv" class="form-control" type="text" placeholder="Type your own question" /></textarea>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <!-- /Custom Field -->

            <div id="delivery_method" class="component_data">
                <article class="beefup">
                    <h6 class="panel-title beefup__head">
                        <span>Select Delivery Method</span>
                        <button type="button" class="close remove_component">×</button>
                    </h6>
                    <div class="beefup__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mb-5 mt-5">
                                <label class="pointer">
                                    <input type='checkbox' class="pointer chk_bx_select_all" />Select All
                                </label>
                                
                            </div>
                        </div>

                        <div class="form-group checkbox_container">
                            {% with field_name='delivery_method' default_checked_value=delivery.delivery_method|split %}
                            <input type="hidden" class="save_data"  name="{{ field_name }}" id="id_{{field_name}}" value="{{ default_checked_value}}" />
                            <input type="hidden" class="url_holder_save_data" value="{% url 'save_delivery' %}" /> 
                            {% for name in delivery_methods %}
                            {% if name != "---------" %}
                            <div class="radio ">
                                <label >
                                <input class="check1 delivery_mthd " name="{{ field_name }}[]" data-txt="{{ name }}" value="{{ name }}" type="checkbox"
                                {% if name|lower in default_checked_value|lower %} checked {% endif %}/>
                                {{name}}
                                </label>
                                <!-- set data-txt attribute inside above lable to get original text in jquery -->
                                <input type='text' class="tb10 form-control-inline hidden pull-right comment_box"
                                data-value='{{ name }}'>
                            </div>
                            {% endif %}
                            {% endfor %}
                        {% endwith %}
                        </div>
                    </div>
                </article>
            </div>
            <!-- ====================== /Campaign Delivery =============================-->
        </div>
        <!-- /store component data inside holder -->

        <!-- /content area -->

    </div>
<!-- /main content -->

{% endblock %}


<!-- ============================ -->
<!--        page level scripts    -->
<!-- =========================== -->
{% block page_level_scripts %}
<script>
    $(function () {
        /*change li active*/
        /*add active class to li*/
        $("#campaign").addClass("active");
        $("#campaign-create").addClass("active");
    });
</script>

<!--= collasible + icon -->
<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>

<!-- jquery.serializeObject used instead of jquery serializeArray-->
<script type="text/javascript" src="{% static 'client/js/dragula.js' %}"></script>

<link href="{% static 'client/css/dragula_style.css' %}" rel="stylesheet" type="text/css" />

<!-- collasible -->
<script src="{% static 'client/plugins/BeefUp/js/jquery.beefup.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'client/plugins/BeefUp/css/jquery.beefup.css' %}">

<!-- dragula -->
<script type="text/javascript" src="{% static 'client/js/create_campaign/dragula-config.js' %}"></script>

<script>
    $(function() {
        $('.beefup').beefup({
            openSingle: true,
            stayOpen: 2,
            selfClose: true, // Close the accordion on click outside of the element.
        });
    });

    $(document).on('click','.delivery_mthd',function(){
        if($(this).is(':checked')){
            $(this).parent().next().removeClass('hidden')
        }
        else{
            $(this).parent().next().addClass('hidden')
        }
    })
    
</script>

<!-- sticky div-->
<script src="{% static 'client/js/keep_drag_box_in_view.js' %}"></script>
<!-- /sticky div-->

<!-- from old file-->

<!-- panel-tab color-->
<link href="{% static 'client/css/createcampaign.css' %}" rel="stylesheet" type="text/css">

<!--treeview / from checkbox-->
<link href="{% static 'assets/css/hummingbird-treeview-1.3.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'assets/js/hummingbird-treeview-1.3.js' %}"></script>

<!-- fountnt ausome icons -->
<link href="{% static 'assets/css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">


<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/selectboxit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/autosize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/formatter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tagsinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/touchspin.min.js' %}"></script>

<script type="text/javascript" src="{% static 'client/js/form_checkboxes_radios.js' %}"></script>

<!-- checkbox and radios -->
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'client/js/create_campaign/form_checkboxes_radios.js' %}"></script>
<!-- /checkbox and radios -->

<!-- notifications -->
<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/pnotify.min.js' %}"></script>
<!-- /notifications -->

<!-- button with animations -->
<script type="text/javascript" src="{% static 'assets/js/plugins/velocity/velocity.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/velocity/velocity.ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/buttons/spin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/buttons/ladda.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/components_buttons.js' %}"></script>
<!-- /button with animations -->

<!-- custom js - initialization of plugins--->
<script type="text/javascript" src="{% static 'client/js/create_campaign/tree-initialize.js' %}"></script>
<script type="text/javascript" src="{% static 'client/js/create_campaign/treeview-init.js' %}"></script>
<script type="text/javascript" src="{% static 'client/js/create_campaign/validation.js' %}"></script>

<!-- save records -->
<script type="text/javascript" src="{% static 'client/js/create_campaign/save_form.js' %}"></script>

<!-- get checkbox clicked values into hidden input -->
<script type="text/javascript" src="{% static 'client/js/create_campaign/get_checkbox_values.js' %}"></script>

<!-- waterfall in campaign_terms -->
<script type="text/javascript" src="{% static 'client/js/create_campaign/waterfall.js' %}"></script>

<!-- set priority level of campaign by gap between the dates -->
<script type="text/javascript" src="{% static 'client/js/create_campaign/set_priority.js' %}"></script>

<!-- datepicker -->
<script type="text/javascript" src="{% static 'assets/js/plugins/ui/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
<script type="text/javascript" src="{% static 'client/js/create_campaign/picker_date.js' %}"></script>

<!-- Account Based Marketing AND Account Supression -->
<script type="text/javascript" src="{% static 'client/js/create_campaign/account_supression.js' %}"></script>

<!-- delivery_timing -->
<script type="text/javascript" src="{% static 'client/js/create_campaign/delivery_timing.js' %}"></script>

<!-- Use as text -->
<script type="text/javascript" src="{% static 'client/js/create_campaign/use_as_text.js' %}"></script>

<script type="text/javascript" src="{% static 'client/js/create_campaign/on_ready_change_selected_compo_data.js' %}"></script>

<style>

input[type="checkbox"]+label {
	cursor: pointer;
	position: relative;
	margin-right: 60px;
	display: inline-block;
	padding-right: 10px;
}

input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}

/* the checkbox
-----------------------------------------------*/
input[type="checkbox"]+label::after {
	content: '';
	border: 2px solid rgba(0, 0, 0, .5);
	border-radius: 2px;
	background-color: white;
	position: absolute;
	top: 60%;
	left: 18px;
	transform: translate(-20px, -50%);
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	transition: background-color 1s;
	background-repeat: no-repeat;
    background-size: 88%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfgBwEQARzBMMQpAAAAN0lEQVQI12NgQAEHGBgYHzAwMAMxO5DN38AgIM/AYGHHwFBTw8Bg94OBQf4DUBgqzdwAVI5qAACbXgn3nmfmHgAAAABJRU5ErkJggg==);
	background-position: 1px 1px;
}

/* the checkbox -- checked
-----------------------------------------------*/
input[type="checkbox"]:checked+label::after {
	border: 2px solid rgba(23, 149, 136, 0.31);
	background-color: rgba(23, 149, 136, .7);
}

/* the checkbox -- disabled
-----------------------------------------------*/
input[type="checkbox"]:disabled+label::after {
	border: 2px solid rgba(0, 0, 0, .1);
	background-color: rgba(0, 0, 0, .05);
	background-image: none;
}


/* the focus ripple
-----------------------------------------------*/
input[type="checkbox"]+label::before {
	content: '';
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .1);
	position: absolute;
	box-sizing: border-box;
	top: 50%;
	left: 7px;
	transform: translate(-50%, -50%) scale(0);
	width: 1.8px;
	height: 1.8px;
}

input[type="checkbox"]:focus+label::before {
	animation: ripple 1s ease-out;
}





@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

</style>
{% endblock %}
<!--       page level scripts    -->
<!-- /=========================== -->
