{% extends "header/cheader.html" %}
{% load static %}
{% block scripts %}
{% include "campaign/campaign_notebook_head.html" %}
{% endblock %}
{% block scripts1 %}
{% include "campaign/css/campaign_notebook.css" %}
{% endblock %}

{% block content %}

<!-- Main sidebar -->
{% include "side/clientside.html" %}
<!-- /main sidebar -->

<div class="content-wrapper">
    <!-- Content area -->
    <div class="content" style="margin-top: 17px;">
        <!-- tech connector data-->
        <div class="row">
            <div class="col-md-12 ">
                <div class="panel campaign_panel panel-flat first ">
                    <div class="panel-body">
                        <div id="centertext" style="padding-bottom: 10px;">
                            <a href="/client/campaign_type/">
                                <button type="button" class="btn btn-primary btn-raised bt12">Create Campaign</button>
                            </a>
                        </div>
                        <div class="table-responsive">
                            <table id="Client_live_campaign_table" class="table text-nowrap campaign_table">
                                <thead>
                                    <!--Heading for draft campaign-->
                                    <tr class="active ">
                                        <th colspan="1">Draft Campaign</th>
                                        <th>Description</th>
                                        <th class=""></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for camp in camps %}
                                    {% if camp.status == 0 %}
                                    <!--List of draft campaign-->
                                    <tr class="shadow ">
                                        <td class="show_camp" camp_id="{{camp.id}}">
                                            <div class="media-left">
                                                <div class=""><a href="#" class="text-default text-semibold show_camp">
                                                        {{camp.name|truncatechars:20 }}</a></div>
                                                <div class="text-muted text-size-small" style="display:none">
                                                    <span class="status-mark border-blue position-left"></span>
                                                    02:00 - 03:00
                                                </div>
                                            </div>
                                        </td>
                                        <td class="show_camp" camp_id="{{camp.id}}">
                                            <div>{{camp.description|truncatechars:150}}</div>
                                        </td>
                                        <td class="campagin_icons ">
                                            <!-- <ul  id="{{camp.id}}">
                                                <i class="bqX brq fas fa-tasks" title="Select Pricing" aria-hidden="true" ></i>
                                                <i class="bqX brq fas fa-upload" title="Upload Lead" aria-hidden="true"></i>
                                            </ul> -->
                                            <ul class="icons-list">
                                              {% if camp.rfq == 0 %}
                                                <li><a id="camp_spec_edit_id"
                                                        href="/client/edit_campaign/{{camp.id}}"><i
                                                            class="bqX brq fas fa-edit" title="Edit Specs"
                                                            aria-hidden="true"></i></a></li>
                                              {% else %}
                                                <li><a id="camp_spec_edit_id"
                                                        href="/client/edit_rfq_campaign/{{camp.id}}"><i
                                                            class="bqX brq fas fa-edit" title="Edit Specs"
                                                            aria-hidden="true"></i></a></li>
                                              {% endif %}
                                            </ul>
                                        </td>
                                    </tr>

                                    {%endif%}
                                    {%endfor%}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /FULL NOTEBOOK END-->
        <div class="row">
            <div class="col-md-12 notebook" style="display: none;">
                <div class="col-md-7">
                    <div class="panel campaign_panel1 panel-flat">
                        <div class="panel-body scroll">
                            <div id="centertext" style="padding-bottom: 10px;">
                                <button type="button" class="btn btn-primary btn-raised bt12">Create Campaign</button>
                            </div>
                            <div class="table-responsive">
                                <table class="table text-nowrap">
                                    <tbody>
                                        <!--Heading for draft campaign-->
                                        <tr class="active border-double">
                                            <td colspan="1">Draft Campaign</td>

                                        </tr>
                                        <!--List of draft campaign-->
                                        {% for camp in camps %}
                                        {% if camp.status == 0 %}
                                        <tr class="shadow show_camp" id="show_camp{{camp.id}}" camp_id="{{camp.id}}">
                                            <td>
                                                <div class="media-left">
                                                    <div class=""><a href="#" id="{{camp.id}}"
                                                            class="text-default text-semibold show_camp">{{ camp.name }}</a>
                                                    </div>
                                                    <div class="text-muted text-size-small" style="display:none">
                                                        <span class="status-mark border-blue position-left"></span>
                                                        02:00 - 03:00
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {%endif%}
                                        {%endfor%}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="panel campaign_panel panel-flat ">
                        <div class="panel-body scroll">
                            <section onclick="myFunction2()">
                                <div class="campaign_details">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                    Campaign Details</a>
                                                <span class="icons" style="float:right;">
                                                    <i class="fas fa-paperclip" id="aggrements" camp_id=""
                                                        title="aggrements" data-toggle="modal"
                                                        data-target="#Aggrements_models"></i>
                                                    <!--<i class="fas fa-link" title="Contracts"></i> -->
                                                    <div class="dropdown">
                                                        <span class="dropdown-toggle" type="text"
                                                            data-toggle="dropdown"><i
                                                                class="fas fa-ellipsis-h"></i></span>
                                                        <ul class="dropdown-menu assets_list">
                                                            <li><a data-toggle="modal" id="get_scripts"
                                                                    data-target="#scripts_modal">Scripts</a></li>
                                                            <li><a data-toggle="modal" id="get_asset"
                                                                    data-target="#asset_modal">Assests</a></li>
                                                            <!-- <li><a href="#">Lead Stutas</a></li> -->
                                                        </ul>
                                                    </div>
                                                    <!-- <span> <i class="far fa-thumbs-up"></i></span> -->
                                                    <span class="fas fa-close" onclick="myFunctionClose()"></span>
                                                </span>
                                            </h5>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse in">
                                            <div class="panel-body side_tab">
                                                <div class="panel1 row">
                                                    <p style="text-transform: capitalize;">Campaign Name : <span
                                                            style="color: #6d6d70" id="camp_name"></span></p>
                                                </div>
                                                <div class="panel1 row">
                                                    <span><strong>CPL:</strong> <span style="color: #6d6d70"
                                                            id="camp_cpl"></span>
                                                        <span style="padding-left:15px;"><strong>Volume: </strong><span
                                                                style="color: #6d6d70" id="camp_volume">1000</span>
                                                            <span class="agree"><i
                                                                    class="fas fa-check"></i><span>Agree</span></span>
                                                </div><br>

                                                <div class="panel1 row">
                                                    <p class="btn-top" style="position:absolute">
                                                        <a class="btn btn-info btn-collapsible inf"
                                                            id="vendor_list_tooltip" data-toggle="tooltip"
                                                            data-placement="top">
                                                            <i class="fas fa-user ucolor"></i><span>Assigned to <span
                                                                    id="assigend_vendors">{{user}}</span></span> <span
                                                                class="Assigned_list tooltiptext"></span>
                                                        </a>
                                                        <a class="btn btn-success btn-collapsible"><i
                                                                class="icon-calendar"></i><input type="text"
                                                                class="input_date" id="start_date" title="Start Date"
                                                                value="" disabled></a>
                                                        <a class="btn btn-success btn-collapsible" s><i
                                                                class="icon-calendar"></i><input type="text"
                                                                class="input_date" id="datepicker2" title="End Date"
                                                                value="" disabled></a>
                                                        <!-- <a class="btn btn-warning btn-collapsible"><i class="far fa-clock" ></i><span id="expiry_date"></span></a> -->

                                                        <!-- <a class="btn btn-warning btn-collapsible"></a> -->
                                                        <a class="btn btn-warning " id="specs_data" camp_id=""
                                                            data-toggle="modal" title="View More"
                                                            data-target="#modal_large"><i class="fas fa-eye"></i></a>
                                                    </p><br>
                                                    <!-- <div class='circle col-md-4 vendor' id="vendor_list_tooltip" data-toggle="tooltip" data-placement="top">
																<img style="height:35px;width:30px;margin-top: 7px;" src="http://www.clker.com/cliparts/3/V/U/m/W/U/admin-button-icon-md.png">
																<label>Assigned to</label>
																<div id="assigend_vendors">{{user}}</div>
																<div class="Assigned_list tooltiptext"></div>
															</div> -->
                                                    <!-- <div class='circle col-md-4 date_pill'>
																<div class="date-icon"><i class="icon-calendar"></i></div>
																<span class="date">
																	<input type="text" id="start_date" placeholder="Due Date">
																</span>
															</div> -->
                                                    <!-- <div class='circle col-md-4 date_pill'>
																<div class="date-icon"><i class="icon-calendar"></i></div>
																<span class="date">
																	<input type="text" id="datepicker2" placeholder="Due Date">
																</span>
															</div> -->
                                                </div>
                                                <div class="panel1 row" style="margin-top: 50px;">
                                                    <textarea rows="4" cols="4" id="camp_desc" class="form-control"
                                                        placeholder="Description"></textarea>
                                                </div>
                                                <!-- <div class="panel1 row">
															<p style="text-transform: capitalize;">Instructions : </p>
															<p id="camp_intructions" class="form-control" style="color: #6d6d70">campaign instructions</p>
														</div> -->

                                                <div class="panel1 row">
                                                   <!--  <ul id="chat_box" class="media-list chat-list content-group">
 -->
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                            Instructions</a>
                                                    </h5>
                                                </div>
                                                <div id="collapse2" class="panel-collapse collapse in">
                                                    <div class="panel-body side_tab chat_panel">
                                                        sdfasfsadfsafsfssgdaffadg
                                                    </div>
                                                </div>
                                            </div> -->

                                </div>
                            </section>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /content area -->
</div>
<!-- aggrements -->
<div class="modal fade" id="Aggrements_models" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="col-md-12 " style="margin-top:20px;">
                <div class="modal-header MH">
                    <h5 class="modal-title h1" id="exampleModalLongTitle">Agreements</h5>

                </div>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <div class="modal-body" style="border:0px;">
                <div class="col-md-6 padd1" style="border-top: 1px solid #afaaaa;padding: 2px;">
                    <p class='lead nd'><span>NDA Agreement </span></p>
                </div>
                <div class="col-md-6 padd" style="border-top: 1px solid #afaaaa;padding: 1px;">
                    <span id='nda_icon' class="label bg-danger text-semibold">Due<br></span>
                </div>
                <div class="col-md-6 padd1">
                    <p class='lead ms'><span>MSA Agreement </span></p>
                </div>
                <div class="col-md-6 padd">
                    <span id='msa_icon' class="label bg-danger text-semibold">Due</span>
                </div>
                <div class="col-md-6 padd1">
                    <p class='lead gdp'><span>GDPR Agreement </span></p>
                </div>
                <div class="col-md-6 padd">
                    <span id='gdpr_icon' class="label bg-danger text-semibold">Due</span>
                </div>
                <div class="col-md-6 padd1">
                    <p class='lead dp'><span>DPA Agreement </span></p>
                </div>
                <div class="col-md-6 padd">
                    <span id='dpa_icon' class="label bg-danger text-semibold">Due</span>
                </div>
                <div class="col-md-6 padd1">
                    <p class='lead io'><span>IO Agreement </span></p>
                </div>
                <div class="col-md-6 padd">
                    <span id='io_icon' class="label bg-danger text-semibold">Due</span>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--aseets model Start-->

<div class="modal fade" id="asset_modal" role="dialog">
    <div class="modal-dialog " style="margin-top: 125px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12 bgset" style="padding:2%!important">

                    <h1 class="modal-title">Assets</h1>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="padding:5%!important;">

                <form action="/client/asset_submit/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="campaign" id="campid">
                    <label class="label1">Assets Name :</label><input type="text" name="assets_name" required=""><br>
                    <label class="label1">Type of assets:</label>
                    <div id="assets_holder" name="assets_holder">
                    </div>
                    <div class="hidden">
                        <div id="template_holder">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="label1"></label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="txt_asset" name="txt_asset"></label>
                                </div>
                                <div class="col-sm-4">
                                    <input class="file_asset" type="file" name="e-book">
                                </div>
                                <div class="col-sm-2">
                                    <label class="label1">Link :</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label class="label1">Sponsers:</label><input type="text" name="sponsers"><br>
                    <label class="label1" style="width: 150px;">Asset distributor :</label><input type="text"
                        name="asset_distributor"><br>
                    <label class="label1">Add assets link :</label><input type="text" name="add_assetslink">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary legitRipple pull-right"
                            id="submit_assets">Submit<span class="legitRipple-ripple"></span></button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

<!--aseets model end-->

<!-- Specs modal -->
<div id="modal_large" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Campaign Specs</h5>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="col-md-6">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-lg-5 text-semibold">Target Quntity</label>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="target_quantity" id='target_quantity'
                                                class="form-control " placeholder="text" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-lg-5 text-semibold">Campaign Type</label>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="campaign_type" id="campaign_type"
                                                class="form-control " placeholder="text" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-lg-5 text-semibold">Outrich method</label>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="outrich_method" id="outrich_method"
                                                class="form-control " placeholder="text" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-lg-5 text-semibold">Assets</label>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="assets" id="assets" class="form-control "
                                                placeholder="text" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-lg-5 text-semibold">Delivery Methods</label>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="delivery_method" id="delivery_method"
                                                class="form-control " placeholder="text" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-lg-5 text-semibold">Company Size</label>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="company_size" id="company_size"
                                                class="form-control " placeholder="text" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-lg-5 text-semibold">Indursty Type</label>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="indursty_type" id="indursty_type"
                                                class="form-control " placeholder="text" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-lg-5 text-semibold">Job title</label>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="job_title" id="job_title" class="form-control "
                                                placeholder="text" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-lg-5 text-semibold">Job level</label>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="job_level" id="job_level" class="form-control "
                                                placeholder="text" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-lg-5 text-semibold">Country</label>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="country" id="country" class="form-control "
                                                placeholder="text" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-lg-5 text-semibold">Pacing</label>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" name="pacing" id="pacing" class="form-control "
                                                placeholder="text" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-lg-5 text-semibold">Data Field</label>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea id="data_field" class="form-control "></textarea>

                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Specs modal -->
<!-- Add scripts modal start -->
<div class="modal fade" id="scripts_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding:0px;">
                <div class="col-md-12 bgset">
                    <h5 class="modal-title tophead" id="exampleModalLongTitle">Scripts</h5>

                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 60px;">
                <a class="hidden" id="script_link" download><button class="btn btn-primary">View Script</button></a>
                <form id="script_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="campaign" id="camp_script_id">
                    <div class="file-field">
                        <div class="btn btn-primary btn-sm float-left">
                            <span>Choose file</span>
                            <input type="file" name="client_script" id="id_client_script">
                        </div>
                        <!-- <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload your file">
            </div> -->
                    </div>
                    <button type="submit" class="btn btn-primary legitRipple pull-right" id="submit_script">Submit<span
                            class="legitRipple-ripple"></span></button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- Add scripts modal end -->
<style media="screen">
    @media only screen and (max-width: 1366px) {
        .chat_bar {
            position: absolute !important;
            left: 37px;
            bottom: 7%;
            width: 90% !important;
        }

    }
    #exampleModalLongTitle{
            padding: 20px;
        }
</style>
<!-- /page container -->
{% include "campaign/js/accountjs.html"%}
{% include "campaign/js/campaign_notebook.html" %}
{% include "campaign_chat/js/chatjs.html"%}

<script>
    $(function () {
        $("#campaign").addClass("active");
        $("#campaign").find("ul").first().css({ 'display': 'block' })
        $("#DraftCampaign").addClass("active");
    });
</script>


{% endblock %}
