{% load static%}


<!--Start dataTables-->
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
   <script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/extensions/buttons.min.js'%}"></script>
   <script type="text/javascript" src="{% static 'assets/js/pages/components_buttons.js' %}"></script>
   <script src="{% static 'assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js'%}"></script>
   <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js'%}"></script>
   <script type="text/javascript" src="{% static 'assets/js/pages/datatables_extension_fixed_columns.js'%}"></script>
   <script type="text/javascript" src="{% static 'assets/js/pages/datatables_extension_colvis.js'%}"></script>
<!--End dataTables-->

<!--start datepicke-->
  <script type="text/javascript" src="{% static 'assets/js/plugins/ui/moment/moment.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/daterangepicker.js'%}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/anytime.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.js'%}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.date.js'%}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.time.js'%}"></script>
  <script type="text/javascript" src="{% static 'assets/js/pages/picker_date.js'%}"></script>
<!--End datepicke-->
   <!-- <script src="{% static 'assets/js/pages/datatables_extension_fixed_header.js'%}"></script> -->
