   <!-- timeline -->
   {% load static %}
    <link rel="stylesheet" href="{% static 'assets/js/plugins/wptimeline/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugins/wptimeline/jquery.mCustomScrollbar.min.css' %}">
    <!-- CSS Animation -->
    <link rel="stylesheet" href="{% static 'assets/js/plugins/wptimeline/default.min.css' %}">
    <!-- Resource style -->
    <link rel="stylesheet" href="{% static 'assets/js/plugins/wptimeline/demo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugins/wptimeline/frst-timeline-style-7.css' %}">
    <!-- Resource style -->
    <script src="{% static 'assets/js/plugins/wptimeline/modernizr.js' %}"></script>
    <script src="{% static 'assets/js/plugins/wptimeline/jquery.mousewheel.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/wptimeline/jquery.mousewheel-3.0.6.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/wptimeline/jquery.mCustomScrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/wptimeline/frst-timeline.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
