{% load static %}
<link rel="stylesheet" href="{% static 'assets/dist/default-skin/default-skin.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/codemirror.min.css' %}">

<link href="{% static 'assets/css/froala_editor.pkgd.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/froala_style.min.css' %}" rel="stylesheet" type="text/css" />

<link href="{% static 'assets/css/hummingbird-treeview-1.3.css' %}" rel="stylesheet" type="text/css" />
    
<link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" type="text/css" />

<link href="{% static 'assets/css/square/grey.css' %}" rel="stylesheet" type="text/css" /> 
<script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput/plugins/purify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput/fileinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/uploader_bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/client/form_checkboxes_radios.js' %}"></script>
<script src="{% static 'assets/js/hummingbird-treeview-1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/client/createcampaign.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery-ui.css' %}" />
<script src="{% static 'assets/js/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/fieldChooser.js' %}"></script>
<script src="{% static 'assets/js/fieldChooser.js' %}"></script>

<!-- Include Editor JS files. -->
<script type="text/javascript" src="{% static 'assets/js/froala_editor.pkgd.min.js' %}"></script>