{% extends "common/base.html" %}

{% load static %}


{% block title %} Create Campaign {% endblock %}
{% load widget_tweaks %}
<!--
    page code must be start in block content
    inside block content
-->
{% block content %}

<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

        <!-- main row -->
        <div class="row">
            <!-- Top Clients List -->
            <div class="panel panel-height panel-flat">
                <div class="panel-heading ml-20">
                    <center>
                        <h1 class="panel-title">Create-Campaign</h1>
                    </center>

                    <form class="form-horizontal" id="validate_campaign" action="" method="post">
                        {% csrf_token %}
                        <!-- some hidden fields -->
                        <!-- client id-->
                        <input type="hidden" name="{{ campaignform.user.name }}" id="id_{{ campaignform.user.name }}"
                            value="{{ request.session.userid }}" />

                        <input type="hidden" name="{{ campaignform.priority.name }}"
                            id="id_{{ campaignform.priority.name }}" value="3">

                        <input type="hidden" name="{{ campaignform.rfq_status.name }}"
                            id="id_{{ campaignform.rfq_status.name }}" value="0">

                        <input type="hidden" name="{{ campaignform.raimainingleads.name }}"
                            id="id_{{ campaignform.raimainingleads.name }}" value="0">

                        <input type="hidden" name="adhoc" id="" value="0" />

                        {% if form.non_field_errors %}
                        <ul>
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% for hidden_field in form.hidden_fields %}
                        {% if hidden_field.errors %}
                        <ul>
                            {% for error in hidden_field.errors %}
                            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {{ hidden_field }}
                        {% endfor %}


                        <fieldset class="content-group">
                            <legend class="text-bold">Campaign Mandatory Fields</legend>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign IO Number</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="number" NAME="{{ campaignform.io_number.name }}"
                                                    id="id_{{ campaignform.io_number.name }}"
                                                    onfocus="changeInfo('camp_io')" class="form-control cls_io_number"
                                                    placeholder="Campaign IO Number" min="0" required>
                                                <span class="help-block"></span>
                                                <spna class="io_alert validation-error-label"></spna>
                                                <spna class="io_success validation-valid-label"></spna>
                                                {{ campaignform.io_number.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign Name</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="text" NAME="{{ campaignform.name.name }}"
                                                    id="id_{{ campaignform.name.name }}"
                                                    onfocus="changeInfo('camp_name')"
                                                    class="form-control maxlength-label-position"
                                                    placeholder="Campaign Name" maxlength="30" required>
                                                <span class="help-block"></span>
                                                {{ campaignform.name.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign Description</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <textarea rows="3" name="{{ campaignform.description.name }}"
                                                    id="id_{{ campaignform.description.name }}" cols="4"
                                                    onfocus="changeInfo('camp_desc')" maxlength="240"
                                                    class="form-control maxlength-label-position elastic elastic-destroy"
                                                    placeholder="Campaign Description" required></textarea>
                                                <span class="label label-block label-primary text-left"></span>
                                                {{ campaignform.description.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign Type</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <select name="{{ campaignform.type.name }}"
                                                    id="id_{{ campaignform.type.name }}" class="form-control"
                                                    onfocus="changeInfo('camp_type')" required>
                                                    {% for val, text in campaignform.type.field.choices %}
                                                    <option value="{{ val }}">{{ text }}</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="label label-block label-primary text-left"></span>
                                                {{ campaignform.type.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Outreach Method</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group form-group-material">

                                                    <div class="multi-select-full" onclick="changeInfo('camp_method')">
                                                        <select id="id_{{ campaignform.method.name }}"
                                                            name="{{ campaignform.method.name }}"
                                                            class="multiselect-campaign-method" multiple="multiple"
                                                            required="true">
                                                            <!--<option>Select Campaign Method</option> -->
                                                            {% for val, text in campaignform.method.field.choices %}
                                                            {% if text != "---------" %}
                                                            <option value="{{ val }}">{{ text }}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        {{ campaignform.method.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" style="display:none">
                                    <label class="control-label col-lg-3">Request For Quote</label>
                                    <div class="col-lg-9">
                                        <div class="row">

                                            <div class="col-md-2">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" class="styled chk_replace_val" value="0"
                                                            data-alter-on-val="1" data-alter-off-val="0"
                                                            name="{{ campaignform.rfq.name }}"
                                                            id="id_{{ campaignform.rfq.name }}"
                                                            onfocus="changeInfo('camp_rfq')">
                                                        RFQ
                                                    </label>
                                                    {{ campaignform.rfq.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign CPL</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input">
                                                    <input type="number" name="{{ campaignform.cpl.name }}"
                                                        id="id_{{ campaignform.cpl.name }}"
                                                        onfocus="changeInfo('camp_cpl')" class="form-control" min="1"
                                                        value="" placeholder="Campaign CPL"
                                                        onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
                                                        required>
                                                    {{ campaignform.cpl.errors }}
                                                </div>
                                                <i class="rfq_selected hidden" style="color:red;"> *Remove RFQ to insert
                                                    CPL</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Target Quantity</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input">
                                                    <input type="number" name="{{ campaignform.target_quantity.name }}"
                                                        id="id_{{ campaignform.target_quantity.name }}"
                                                        class="form-control" onfocus="changeInfo('camp_targetQuantity')"
                                                        min="1" value="" placeholder="Target Quantity"
                                                        onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
                                                        required>
                                                    {{ campaignform.target_quantity.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign Start Date</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input" onclick="changeInfo('camp_date')">
                                                    <input class="form-control start_date_selector" type="text"
                                                        name="{{ campaignform.start_date.name }}"
                                                        id="id_{{ campaignform.start_date.name }}"
                                                        placeholder="Campaign Start Date" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-lg-3">Campaign End Date</label>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="input" onclick="changeInfo('camp_date')">
                                                    <input class="form-control end_date_selector" type="text"
                                                        name="{{ campaignform.end_date.name }}"
                                                        id="id_{{ campaignform.end_date.name }}"
                                                        placeholder="Campaign End Date" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-lg-3">Select Vendor</label>

                                    <div class="col-lg-9" id="container_vendor_type">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="{{ campaignform.tc_vendor.name }}"
                                                            id="id_{{ campaignform.tc_vendor.name }}"
                                                            data-alter-on-val="1" data-alter-off-val="0"
                                                            class="styled chk_replace_val" value="0"
                                                            onfocus="changeInfo('camp_vendor')"> TC-Vendor
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"
                                                            name="{{ campaignform.internal_vendor.name }}"
                                                            id="id_{{ campaignform.internal_vendor.name }}"
                                                            data-alter-on-val="1" data-alter-off-val="0"
                                                            class="styled chk_replace_val" value="0"
                                                            onfocus="changeInfo('camp_vendor')">
                                                        Internal Vendor
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"
                                                            name="{{ campaignform.external_vendor.name }}"
                                                            id="id_{{ campaignform.external_vendor.name }}"
                                                            data-alter-on-val="1" data-alter-off-val="0"
                                                            class="styled chk_replace_val" value="0"
                                                            onfocus="changeInfo('camp_vendor')">
                                                        External Vendor
                                                    </label>
                                                </div>
                                            </div>
                                            {{ campaignform.vendors.errors }}
                                        </div>
                                        <div class="row mt-10 hidden" id="vendor_error_msg">
                                            <span class="pl-10 text-danger">Error select at least one vendor</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2"></label>
                                    <div class="col-lg-10">
                                        <div class="row mt-20 mb-20">
                                            <div class="col-md-3">
                                                <button type="submit"
                                                    class="btn btn-primary legitRipple pull-right">Submit<span
                                                        class="legitRipple-ripple"></span></button>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="reset" id="btn_reset"
                                                    class="btn btn-danger legitRipple pull-right">Reset<span
                                                        class="legitRipple-ripple"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h6 class="panel-title" id="field_info">Info</h6>
                                    </div>
                                    <div class="panel-body">
                                        <ul id="field_desc" style="font-size: 14px;font-weight: 500;">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- /highlighting rows and columns -->

        </div>
        <!-- main row -->

    </div>
    <!-- /content area -->

</div>
<!-- /main content -->

{% endblock %}


<!-- ============================ -->
<!--        page level scripts    -->
<!-- =========================== -->
{% block page_level_scripts %}
<script>
    $(function () {
        /*change li active*/
        /*add active class to li*/
        $("#campaign").addClass("active");
        $("#campaign-create").addClass("active");
    });

    // global variable
    var DEBUG = true; // false or true
</script>

<style>
    .multiselect-container .checkbox .checker {
        top: 18px !important;
    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<!-- panel-tab color-->
<link href="{% static 'client/css/createcampaign.css' %}?ver=1.1" rel="stylesheet" type="text/css">


<script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/selectboxit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/autosize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/formatter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tagsinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/touchspin.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/plugins/ui/moment/moment.min.js' %}"></script>

<script type="text/javascript"
    src="{% static 'assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js' %}?ver=1.1"></script>
<script type="text/javascript"
    src="{% static 'assets/js/plugins/forms/inputs/typeahead/handlebars.min.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/passy.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/maxlength.min.js' %}?ver=1.1"></script>

<script type="text/javascript" src="{% static 'client/js/create_campaign/form_floating_labels.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/form_controls_extended_client.js' %}?ver=1.2"></script>

<script type="text/javascript" src="{% static 'client/js/form_checkboxes_radios.js' %}?ver=1.1"></script>

<script type="text/javascript" src="{% static 'assets/js/plugins/forms/validation/validate.min.js' %}?ver=1.1"></script>
<script type="text/javascript" src="{% static 'client/js/form_validation.js' %}?ver=1.1"></script>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" type="text/css" href="{% static 'client/plugins/flatpicker/material_blue.css' %}?ver=1.1">


<script type="text/javascript">
    $(document).ready(function () {

        var hour = new Date().getHours();
        console.log("Hours : ", hour);

        var min_start_dt = new Date();

        // datepicker disable date based on time
        if (hour >= 13) {
            min_start_dt.setDate(min_start_dt.getDate() + 3);
        }
        else {
            min_start_dt.setDate(min_start_dt.getDate() + 2);
        }
        console.log("min_start_dt : ", min_start_dt);

        // declare variables to hold start and end date
        var selected_start_date_str = null;
        var selected_end_date_str = null;

        $(".start_date_selector").flatpickr(
            {
                altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",
                minDate: min_start_dt,

                "disable": [
                    function (date) {
                        // return true to disable
                        // weekday[0] =  "Sunday"; or weekday[6] = "Saturday";
                        return (date.getDay() === 0 || date.getDay() === 6);

                    }
                ],

                // events
                // onValueUpdate gets triggered when the input value is updated with a new date string
                onValueUpdate: function (selectedDates, dateStr, instance) {
                    DEBUG && console.log("Selected start date: ", selectedDates)
                    DEBUG && console.log("Selected start date in string format: ", dateStr)

                    // store start date in string format(yyyy-mm-dd)
                    selected_start_date_str = dateStr;

                    // compare dates if end date is also selected
                    if (selected_end_date_str) {
                        var selected_start_date = new Date(selected_start_date_str);
                        var selected_end_date = new Date(selected_end_date_str);

                        // if selected date less than end date process fruther
                        if (selected_start_date < selected_end_date) {
                            set_priority_and_adhoc_status({
                                start_date: selected_start_date,
                                end_date: selected_end_date,
                            })
                        }
                        else {
                            // clear selected date
                            instance.clear();

                            DEBUG && console.log("Please select start date lesser than end date");

                            // reset priority and adhoc vals
                            clear_priority_and_adhoc_status();

                            $.confirm({
                                title: 'Encountered an error!',
                                content: "Start date should be less than end date",
                                type: 'red',
                                typeAnimated: true,
                            });
                        }
                    }
                    else {
                        DEBUG && console.log("Selected end date is undefined so skipping start and end date comparision")
                    }
                },
            });


        $(".end_date_selector").flatpickr(
            {
                altInput: true,
                altFormat: "F j, Y",
                dateFormat: "Y-m-d",
                minDate: min_start_dt,

                "disable": [
                    function (date) {
                        // return true to disable
                        // weekday[0] =  "Sunday"; or weekday[6] = "Saturday";
                        return (date.getDay() === 0 || date.getDay() === 6);

                    }
                ],

                // events
                // onValueUpdate gets triggered when the input value is updated with a new date string
                onValueUpdate: function (selectedDates, dateStr, instance) {
                    DEBUG && console.log("Selected end date: ", selectedDates)
                    // console.log("end date instance: ", instance)

                    // store end date in string format(yyyy-mm-dd)
                    selected_end_date_str = dateStr;

                    // compare dates if start date is also selected
                    if (selected_start_date_str) {
                        var selected_start_date = new Date(selected_start_date_str);
                        var selected_end_date = new Date(selected_end_date_str);

                        // if selected end date greater than start date process fruther
                        if (selected_end_date > selected_start_date) {
                            set_priority_and_adhoc_status({
                                start_date: selected_start_date,
                                end_date: selected_end_date,
                            })
                        }
                        else {
                            // clear selected date
                            instance.clear();

                            DEBUG && console.log("Please select end date greater than start date");

                            // reset priority and adhoc vals
                            clear_priority_and_adhoc_status();

                            $.confirm({
                                title: 'Encountered an error!',
                                content: "End date should be greater than start date",
                                type: 'red',
                                typeAnimated: true,
                            });
                        }
                    }
                    else {
                        DEBUG && console.log("Campaign start date is undefined so skipping start and end date comparision")
                    }
                },
            });


        $(document).on("change", ".chk_replace_val", function () {
            console.log(" chk_replace_vals replacing values ")
            var is_checked = $(this).prop('checked');
            // console.log(" is_checked : ", is_checked);

            if (is_checked) {
                var val_alter_on = $.trim($(this).data("alter-on-val"));
                $(this).val(val_alter_on);
            }
            else {
                var val_alter_off = $.trim($(this).data("alter-off-val"));
                $(this).val(val_alter_off);
            }
        })

        // checkbox vendor type selector
        $(document).on("change", "input[name='vendor_group[]']", function () {

            var ele = this;
            var values = new Array();
            $.each($("input[name='vendor_group[]']:checked"), function () {
                // values.push($(this).val());
                values.push($(this).val());
            });

            var str_vendors = values.toString();
            console.log("selected checkbox group values :", values);
            console.log("selected checkbox values.toString() :", str_vendors);

            // store in input textbox
            var data_holder_class = $(ele).data("holder");
            if ($("." + data_holder_class).length) {
                $("." + data_holder_class).val(str_vendors);
                console.log("Data Holder value :", $("." + data_holder_class).val());
            }
            else {
                console.log("Data Holder with class :'", data_holder_class, "' not found");
            }

        });

        $(document).on("change", "input[name='rfq']", function () {
            var rfq = $(this).val();
            console.log("Request For Quote : ", rfq);
            $('#id_cpl').val('0')
            $('#id_target_quantity').val('0')

            //$("input[name='rfq_status']").val(rfq);
            console.log("rfq_status value : ", $("input[name='rfq_status']").val());
        });

        $(document).on("change", "input[name='target_quantity']", function () {
            var target_quantity = $(this).val();
            console.log("target_quantity : ", target_quantity);

            // copy value in raimainingleads
            $("input[name='raimainingleads']").val(target_quantity);
            console.log("raimainingleads value : ", $("input[name='raimainingleads']").val());
        });

        // on rest button Click
        $(document).on("click", "#btn_reset", function () {
            // reset bootstrap multiselect element
            $('.multiselect-campaign-method')
                .multiselect('deselectAll', false)
                .multiselect('updateButtonText');

            // uncheck all checkboxes
            $("input[type='checkbox']").attr('checked', false);
            $.uniform.update("input:checkbox");
            //$(this).closest("form").find('input:checkbox').removeAttr('checked');

        });

        // $(document).on('keyup','#id_io_number',function(){
        //    if ($(this).val().length <= 5 && $(this).val().length != 0){
        //        $('#id_io_number-error').hide()
        //        $.ajax({
        //          type: "GET",
        //          url: "/client/check_io/",
        //          data: {'ionumber' : $(this).val()},
        //          dataType: "json",
        //          success: function(data)
        //          {
        //             if (data.status == 1){
        //                 $('.io_alert').hide()
        //                 $('.io_success').show()
        //                 $('.io_success').html(`<label>Success</label>`)
        //                 $('.io_alert').css('color','none')
        //             } else {
        //                 $('.io_alert').show()
        //                 $('.io_success').hide()
        //                 $('.io_alert').html(`<label>IO number already exists</label>`)
        //                 $('.io_alert').css('color','red')
        //             }
        //            console.log(data)
        //          }
        //       });
        //     } else if($(this).val().length == 0){
        //         $('.io_success').hide()
        //         $('.io_alert').hide()
        //     } else {
        //         $('.io_alert').show()
        //         $('.io_success').hide()
        //         $('.io_alert').html(`<label>IO number should be 5 digit number</label>`)
        //     }
        // })

    })


    function set_priority_and_adhoc_status(options) {
        var defaults = {
            start_date: null,
            end_date: null,

            err_title: "Encountered an error !",
            error_msg: "Please select field",
            msg_type: "red",
        };

        var params = $.extend({}, defaults, options);

        // console.log(options);
        // console.log(params);

        var priority = 3; // default 3 for low

        //get differencs
        var end_date = moment(params.end_date) //moment([2015, 11, 29]);
        var start_date = moment(params.start_date) //moment([2007, 06, 27]);

        var today = moment().format('YYYY-MM-DD') //moment([2007, 06, 27]);
        console.log("today :", today);

        var diff_startdate_today = start_date.diff(today, 'days');
        console.log('Day diffrence between selected startdate and today date : ' + diff_startdate_today);

        // get diffrence between end date and start date
        var total_days = end_date.diff(start_date, 'days');
        console.log('Total days difference between selected end and start date: ' + total_days);

        // set prority and adhoc
        // if enddate-startdate is less tahn or equal to 10 and also check is start date is less than 10 days from today
        if (total_days >= 0 & total_days <= 10 && diff_startdate_today <= 10) {
            console.log("Hign priority lead");
            // 1 for high // defined in choice.py
            priority = 1;

            // change adhoc campaign hidden input element status
            console.log("setting adhoc hidden element value to 1 i.e. True");
            $("input[name='adhoc']").val("1");
        }
        else if (total_days > 10 & total_days <= 30) {
            console.log("Medium priority lead");
            // 2 for medium // defined in choice.py
            priority = 2;
            console.log("setting adhoc hidden element value to 0 i.e. false");
            $("input[name='adhoc']").val("0");
        }
        else if (total_days > 30) {
            console.log("Low priority lead");
            // 3 for Low // defined in choice.py
            priority = 3;
            console.log("setting adhoc hidden element value to 0 i.e. false");
            $("input[name='adhoc']").val("0");
        }

        // set priority to element
        $("input[name='priority']").val(priority);
        console.log("This form element priority : ", $("input[name='priority']").val());
    }

    function clear_priority_and_adhoc_status() {
        // reset priority
        $("input[name='priority']").val("")

        // reset is Adhoc
        // setting adhoc hidden element value to 0 i.e. false
        $("input[name='priority']").val("0");

        DEBUG && console.log("Priority and adhoc element value resetted")
    }

</script>

<script>
    function changeInfo(str) {

        if (str == 'camp_name')
            campaignNameNote()
        else if (str == 'camp_desc')
            campaignDescNote()
        else if (str == 'camp_type')
            campaignTypeNote()
        else if (str == 'camp_method')
            campaignMothodNote()
        else if (str == 'camp_cpl')
            campaignCplNote()
        else if (str == 'camp_date')
            campaignDateNote()
        else if (str == 'camp_rfq')
            campaignRfqNote()
        else if (str == 'camp_vendor')
            campaignVendorNote()
        else if (str == 'camp_io')
            campaignIONote()
        else if (str == 'camp_targetQuantity')
            campaigntargetQuantity()
    }
    function campaignNameNote() {
        var str = ""
        $('#field_info').text('Info : Campaign Name');
        str = "<li>Enter Campaign Name </li><li>Only 30 characters allowed for campaign name</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignDescNote() {
        $('#field_info').text('Info : Campaign Description');
        var str = "<li>Enter Campaign Description </li><li>Only 240 characters allowed for campaign description</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignTypeNote() {
        $('#field_info').text('Info : Campaign Type');
        var str = "<li>Select Campaign Type </li><li>You can select only one type of campaign</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignMothodNote() {
        $('#field_info').text('Info : Campaign Method');
        var str = "<li>Choose Campaign Method </li><li>You can select multiple method of campaign</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignCplNote() {
        $('#field_info').text('Info : Campaign CPL');
        var str = "<li>Enter Campaign CPL </li><li>CPL means Cost per Lead </li><li>You can enter only number not character </li><li>CPL in Dollar</li> ";
        $('#field_desc').empty().append(str);
    }
    function campaignDateNote() {
        $('#field_info').text('Info : Campaign Date');
        var str = "<li>Select Date of Campaign  </li><li>First Click on Start date </li><li>Second Click on End Date</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignRfqNote() {
        $('#field_info').text('Info : Campaign RFQ');
        var str = "<li>RFQ means Request for Quote `</li><li>If you are confuse to decide CPL of campaign then you can check rfq so that techconnectr will suggest you.</li>";
        $('#field_desc').empty().append(str);
    }
    function campaignVendorNote() {
        $('#field_info').text('Info : Choose  your Vendor');
        var str = "<li>TC-Vendor : Bussiness with techconnectr vendor  </li><li>Internal Vendor : your team </li><li>External Vendor : Bussiness with your vendors </li>";
        $('#field_desc').empty().append(str);
    }
    function campaignIONote() {
        $('#field_info').text('Info : Campaign IO Number');
        var str = "<li>Enter Campaign IO Number </li>";
        $('#field_desc').empty().append(str);
    }
    function campaigntargetQuantity() {
        $('#field_info').text('Info : Campaign Target Quantity');
        var str = "<li>Enter campaign target quantity </li>";
        $('#field_desc').empty().append(str);
    }
</script>

{% endblock %}
<!--       page level scripts    -->
<!-- /=========================== -->