{% load static %}

  <link href="{% static 'assets/css/client/dashboard.css' %}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/core.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/selectboxit.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/autosize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/formatter.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tagsinput.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/touchspin.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/ui/moment/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/daterangepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/anytime.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.time.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/legacy.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/typeahead/handlebars.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/passy.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/maxlength.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>

  <script type="text/javascript" src="{% static 'assets/js/pages/form_floating_labels.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/form_controls_extended.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/pages/picker_date.js' %}"></script>
