<!-- manage caompaign header -->
{% load static %}
<link href="{% static 'assets/css/icons/fontawesome5/web-fonts-with-css/css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/multi-select.css' %}">

<link href="{% static 'assets/css/page/campaign.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/inputs/touchspin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/form_input_groups.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/components_popups.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'assets/js/pages/datatables_advanced.js' %}"></script> -->
<!-- manage campaign css -->
