<div class="row">

    <div class="col-md-6">

        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-lg-5 text-semibold">Target Quntity</label>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="target_quantity" id='target_quantity' class="form-control " placeholder="text" required>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-lg-5 text-semibold">Campaign Type</label>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="campaign_type" id="campaign_type" class="form-control " placeholder="text" required>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-lg-5 text-semibold">Outrich method</label>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="outrich_method" id="outrich_method" class="form-control " placeholder="text" required>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-lg-5 text-semibold">Assets</label>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="assets" id="assets" class="form-control " placeholder="text" required>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-lg-5 text-semibold">Delivery Methods</label>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="delivery_method" id="delivery_method" class="form-control " placeholder="text" required>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-lg-5 text-semibold">Company Size</label>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="company_size" id="company_size" class="form-control " placeholder="text" required>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-lg-5 text-semibold">Indursty Type</label>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="indursty_type" id="indursty_type" class="form-control " placeholder="text" required>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-lg-5 text-semibold">Job title</label>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="job_title" id="job_title" class="form-control " placeholder="text" required>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-lg-5 text-semibold">Job level</label>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="job_level" id="job_level" class="form-control " placeholder="text" required>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-lg-5 text-semibold">Country</label>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="country" id="country" class="form-control " placeholder="text" required>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-lg-5 text-semibold">Pacing</label>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="pacing" id="pacing" class="form-control " placeholder="text" required>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label col-lg-5 text-semibold">Data Field</label>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="data_field" class="form-control "></textarea>

                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label class="control-label col-lg-5 text-semibold">Instructions</label>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="instructions" class="form-control "></textarea>

                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>