#chartdiv {
  width: 100%;
  height: 250px;
  margin-left:0px;
}   
.export-main{
margin-top: -65px;
}
#chartdiv1 {
  width: 100%;
  height: 250px;
  margin-left:0px;
}                   
    .addbtn{
        padding-left: 10px;
    }
        tfoot {
        display: table-row-group;
    }
    .dataTables_filter {
display: none ; 

}
.dataTables_length {
        display: none;
    }

    .panel-height
    {
        min-height: 100vh;
    }
    #font14
    {
        font-size: 14px;
    }
    #padding20
    {
        padding: 20px;
    }